@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    --primary-color: crimson;
    --text: 17, 17, 17;
    --foreground: 255, 255, 255;
    --font-family: 'Roboto', sans-serif;
    --error-color: red;
}
h1,h2,h3,h4.h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

h2{
  margin: 3rem 0 1rem 0;
  text-transform: capitalize;
  &:first-of-type{
      margin-top: 1rem;
  }  
}
section{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(-90deg, #00000060 , transparent),
                url(/components/resources/background4.jpg) fixed no-repeat bottom;
    background-size: cover;
    color: rgba(var(--foreground), 1);
    text-align: right;
    padding: 2rem;
    h1{
        font-size: 2rem;
        letter-spacing: 0.06rem;
    }
    h4{
        font-weight: 400;
        margin-top: 1rem;
    }
}
code{
    background: rgba(var(--text), .1);
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}
main{
    padding: 2rem;
}
p{
    margin: 1rem 0;
    line-height: 1.8rem;
    color: rgba(var(--text), .8);
    font-size: 1.1rem;
}
@media screen and (min-width: 640px){
    p{
        max-width: 60vw;
    }
}